*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{

  min-height: 100vh;
  
  
  font-family: "FarmarciaFonte";

}

@font-face{
  font-family: "FarmarciaFonte";
  src: url(./fonts/Mollen/Mollen-Personal-Use-Bold.otf);
}

:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}
