.contador-container{

    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.button{

    font-size: 30px;
    font-family: "FarmarciaFonte";
    border: 2px solid var(--cor-3);
    border-radius: 10px;
    background-color: white;
    color: var(--cor-1);
    width: 300px;
    height: 100px;
    transition: 0.2s;

}

.button:hover{

    font-size: 30px;
    font-family: "FarmarciaFonte";
    border: 2px solid var(--cor-1);
    border-radius: 10px;
    background-color: var(--cor-3);
    color: var(--cor-2);
    width: 300px;
    height: 100px;
    transition: 0.2s;
    cursor: pointer;

}